<a href="https://colab.research.google.com/github/irravasyuk/SQL_2/blob/master/%D0%94%D0%97_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпортуйте модуль pandas

In [1]:
import pandas as pd

# Інформація про дані
Зібрано дані продажу техніки в різних магазинах.
* OrderDate -- дата замовлення
* Region    -- регіон де розміщено магазин
* Manager   -- ім'я менеджера
* SalesMan  -- ім'я продавця
* Item      -- тип товару
* Units     -- кількість купленого товару
* Unit_price -- ціна за штуку
* Sale_amt   -- загальна вартість покупки

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/sales_data.csv", index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [8]:
print("Загальна інформація про таблицю:")
df.info()

missing = df.isnull().sum()
missing_columns = missing[missing > 0]

print("Стовпці з пропущеними значеннями:\n", missing_columns)

Загальна інформація про таблицю:
<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderDate   43 non-null     object
 1   Region      43 non-null     object
 2   Manager     43 non-null     object
 3   SalesMan    43 non-null     object
 4   Item        43 non-null     object
 5   Units       45 non-null     float64
 6   Unit_price  45 non-null     float64
 7   Sale_amt    45 non-null     float64
dtypes: float64(3), object(5)
memory usage: 3.2+ KB
Стовпці з пропущеними значеннями:
 OrderDate    2
Region       2
Manager      2
SalesMan     2
Item         2
dtype: int64

# Завдання 2

Перейменуйте стовпчики так, щоб назви містили літери нижнього регістру

In [11]:
df.columns = df.columns.str.lower()
df.columns

Index(['orderdate', 'region', 'manager', 'salesman', 'item', 'units',
       'unit_price', 'sale_amt'],
      dtype='object')

# Завдання 3
Виведіть дані про купівлі телевізорів та телефонів

In [13]:
tv = df[df['item'] == 'Television']
phone = df[df['item'] == 'Cell Phone']

print("Дані про купівлю телевізору:\n", tv)

print("Дані про купівлю телефону:\n", phone)

Дані про купівлю телевізору:
      orderdate   region  manager   salesman        item  units  unit_price  \
0   2018-01-06     East   Martha  Alexander  Television   95.0      1198.0
2   2018-02-09  Central  Hermann       Luis  Television   36.0      1198.0
4   2018-03-15     West  Timothy    Stephen  Television   56.0      1198.0
6   2018-04-18  Central   Martha     Steven  Television   75.0      1198.0
7   2018-05-05  Central  Hermann       Luis  Television   90.0      1198.0
8   2018-05-22     West  Douglas    Michael  Television   32.0      1198.0
10  2018-06-25  Central  Hermann      Sigal  Television   90.0      1198.0
13  2018-08-15     East   Martha  Alexander  Television   35.0      1198.0
20  2018-12-12  Central  Douglas       John  Television   67.0      1198.0
27  2019-04-10  Central   Martha     Steven  Television   66.0      1198.0
29  2019-05-14  Central  Timothy      David  Television   53.0      1198.0
36  2019-09-10  Central  Timothy      David  Television    7.0      1198.0
39  2019-10-31  Central   Martha     Steven  Television   14.0      1198.0

    sale_amt
0   113810.0
2    43128.0
4    67088.0
6    89850.0
7   107820.0
8    38336.0
10  107820.0
13   41930.0
20   80266.0
27   79068.0
29   63494.0
36    8386.0
39   16772.0
Дані про купівлю телефону:
      orderdate   region  manager   salesman        item  units  unit_price  \
3   2018-02-26  Central  Timothy      David  Cell Phone   27.0       225.0
17  2018-10-22     East   Martha  Alexander  Cell Phone   64.0       225.0
18  2018-11-08     East  Douglas      Karen  Cell Phone   15.0       225.0
28  2019-04-27     East   Martha      Diana  Cell Phone   96.0       225.0
37  2019-09-27     West  Timothy    Stephen  Cell Phone   76.0       225.0

    sale_amt
3     6075.0
17   14400.0
18    3375.0
28   21600.0
37   17100.0

# Завдання 4
Яка загальна виручка у продавця Luis?

In [16]:
luis_sales = df[df['salesman'] == 'Luis']
total_receipts = luis_sales['sale_amt'].sum()

print("Загальна виручка у продавця Luis:", total_receipts)

Загальна виручка у продавця Luis: 206373.0

# Завдання 5

Скільки і якого товару було продано?

див groupby(),

In [21]:
df.groupby(by='item')['units'].sum()

item
Cell Phone      278.0
Desk             10.0
Home Theater    722.0
Television      716.0
Video Games     395.0
Name: units, dtype: float64

# Завдання 6
Перевірте чи правильно розраховано загальну вартість покупки. Виведіть ті рядки де є помилка. Виправте дані в таблиці

In [23]:
calculated_sale = df['units'] * df['unit_price']
error = df['sale_amt'] != calculated_sale
print("Рядки де є помилка:", df[error])

df.loc[error, 'sale_amt'] = calculated_sale[error]
print("Після виправлення:", df[error])

Рядки де є помилка:    orderdate region manager salesman item   units  unit_price  sale_amt
43       NaN    NaN     NaN      NaN  NaN  278.00    1125.000  62550.00
44       NaN    NaN     NaN      NaN  NaN   34.75     140.625   7818.75
Після виправлення:    orderdate region manager salesman item   units  unit_price      sale_amt
43       NaN    NaN     NaN      NaN  NaN  278.00    1125.000  312750.00000
44       NaN    NaN     NaN      NaN  NaN   34.75     140.625    4886.71875